{
    "connections": [
        {"direction": "source", "type": "listen", "address": "tcp:1024"},
        {"direction": "destination", "type": "listen", "address": "tcp:1025"},
        {"direction": "destination", "type": "connect", "address": "tcp:localhost:1026"}
    ]
}
